@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

p {
    color: v.$blanco;
    font-size: 1.8rem;
}

.contenedor {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

video {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0 0 v.$separacion 0;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 3rem;
}

.section {
    border-bottom: 1rem solid v.$gris;
}

.pd-5 {
    padding: 5.6rem 0;
}