// Fuentes
$fuente_principal: 'Roboto', sans-serif;

// Tamaños media queries
$telefono: 480px;
$tablet: 599px;
$desktop: 960px;
$mac: 2560px;


// Colores
$primario: #E50914;
$blanco: #FFFFFF;
$negro: #000000;
$gris: #232323;
$grisLink: #ffffffb3; 


$separacion: 5rem;