@use "base/variables" as v;
@use "base/mixins" as m;

.disfrutar {
    background-color: v.$negro;
    padding: 5.6rem 0;   

}
.disfruta {
    display: flex;
    flex-direction: column;

    @include m.desktop {
        flex-direction: row;
        align-items: center;        
    }

    &__heading {
        color: v.$blanco;
        font-size: 3.2rem;
        text-align: center;
        margin: 0;

        @include m.desktop {
            font-size: 4.8rem;
        }
    }
    
    &__descripcion {
        font-size: 1.8rem;
        text-align: center;
        margin: 0;
        margin-top: 1.6rem;

        @include m.desktop {
            font-size: 2.4rem;
        }
    }
    
    &__media {
        display: block;
        margin: 0 auto;
        position: relative;
    }
    
    &__imagen { 
        position: relative;
        z-index: 100;
        margin: 0 auto;
    }


    &__video--tv {
        position: absolute;
        width: 80%;
        top: 20%;
        left: 13%;
    }
}